
.idea/workspace.xml

.idea/.name

.idea/misc.xml

.idea/modules.xml

.idea/storeApp.iml

.idea/vcs.xml




storeApp/ionic.project

storeApp/.io-config.json

storeApp/.io-config.json

storeApp/ionic.project

storeApp/.io-config.json

storeApp/plugins/fetch.json

storeApp/plugins/fetch.json

*.json
