/* Empty. Add your own CSS if you like */
.bord{
  border-radius: 10px;
  border: solid white 3px;
  padding: 10px;
  background-color: white;
}

.txtBord{
  border: solid lightgrey 1px;
  font-size: x-large;
  margin-bottom: 1px;
}
.profileImg{
  width: 50px;
  border-radius: 100%;
}

.alert{
  background-color: #b2302f;
}
.categoryItem{
  height: 50px;
  width: 100%;
  border: solid lightgrey 1px;
}

.item-complex .item-content, .item-radio .item-content {
  position: relative;
  z-index: 2;
  padding: 16px 16px 16px 16px;
  border: none;
  background-color: #fff;
}
