<ion-view view-title="Product Detail" style="text-align: center;">
  <ion-content class="padding">
    <h3>{{dc.product.name}}</h3>
      <div class="item item-text-wrap">
      <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide ng-repeat="image in dc.product.imageEntities track by $index">
          <div><img ng-src="{{dc.product.imageEntities[$index].mediumImage}}"></div>
          <br>
          <br>
        </ion-slide>
      </ion-slide-box>
      </div>
    <button class="button button-balanced buyButton" ng-click="dc.addToCart(dc.product)">
      <span class="productDetails"><i class="ion-social-usd"></i> {{dc.product.salePrice}} &nbsp; <i class="ion-bag"></i></span>
    </button>
    <div style="text-align: left;">
      <p>
        {{dc.product.shortDescription}}
      </p>
    </div>
  </ion-content>
</ion-view>
