<ion-view view-title="Product Detail" style="text-align: center;">
  <ion-content class="padding">
    <h3>{{dc.product.name}}</h3>

      <div class="item item-text-wrap">
    <!--<img ng-src="{{dc.product.mediumImage}}">-->
      <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide ng-repeat="image in dc.product.imageEntities track by $index">
          <div><img ng-src="{{dc.product.imageEntities[$index].mediumImage}}"></div>
          <br>
          <br>
        </ion-slide>
      </ion-slide-box>
      </div>
    <p>
      {{dc.product.shortDescription}}
    </p>
  </ion-content>
</ion-view>
